html{
    background-color: darkgray;
    scroll-behavior: auto;
}

/* ------------- ESTILOS DE LAS VENTANAS EN GENERAL ---------- */

.ventana{
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 0px;
    right: 0px;
    width: auto;
    height: auto;
    border: 7px solid #fcfcfc;
    background-color: #F6F2E4;
    align-items: center;
}

.ventana-body{
    padding: 1rem;
}

/*----Barra de navegación----*/
.nav-barra{
    position: sticky;
    top: 0;
    height: 30px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0.3rem;
    align-items: center;
    background: var(--barra-de-arriba, linear-gradient(90deg, #224A7D 2.88%, #3068B0 27.4%, #3E86E3 100%));
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
}

.titulo-barra{
    display: flex;
    align-items: center;
    margin: 0px;
}

.icon-barra{
    width: 30px;
    height: 30px;
    margin-right: 0.3rem;
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.name-barra{
    font-family: "Micro 5";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    h5{
        margin: 0px;
    }
}

.controles-barra{
    display: flex;
    align-items: center;
    gap: 0.1rem;
    width: 64px;
    height: 21px;
}

.control-item{
    background: #FFF;
    box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.25);
    border: none;
    color: black;
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding: 0px;
    
}


/* --------------- ESTILOS DE LA VENTANA DEL CALENDARIO --------------- */
/* ------Estilos para la ventana de la línea del tiempo---------- */
.ventana[data-ventana="calendar"] {
    background: #F6F2E4;
    width: calc(1077px - 360px);
    height: 95%;
}
.ventana[data-ventana="calendar"] .ventana-body{
    h1{
        margin: 0px;
    }
    width: auto;
    height: auto;

}

.contenedor-eventos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 15.55%;
    row-gap: 0px;
    margin-top: 1rem;
    width: auto;
}
.evento{
    width: auto;
    height: auto;
    align-self: start;
    position: relative;
    display: inline-block;
    align-items: center;
}
.evento h3{
    margin: 0px;
}

.evento img{
    margin: 0px;
    max-width: 95%;
    height: 165px;
    object-fit: contain;
}

.mensaje-oculto{
    visibility: hidden;
    opacity: 0;
    color: white;
    position: absolute;
    top: 21.600px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin: 0px;
    height: 165px;
    width:149.275px;
    text-align: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.673);
}

.mensaje-oculto h2{
    margin-top: 0.5em;
    margin-bottom: 0px;
}

/*clase que agrega js para mostrar el mensaje*/
.mensaje-oculto.visible{
    visibility: visible;
    opacity: 1;
}

/* ------Estilos para la ventana de eventos---------- */
.ventana[data-ventana="calendar-eventos"] {
    position: relative;
    left: calc(100% - 440px);
    background: #F6F2E4;
    width: 414px;
    height: 609px;
}
.ventana[data-ventana="calendar-eventos"] .ventana-body{
    width: auto;
    height: auto;
}
.volver-atras {
    background: none;
    box-shadow: none;
    border: 1px solid gray;
    cursor: pointer;
    width: 130px;
    height: 37px;
    padding: 0px;
    display: flex;
    align-items: center;

    color: #000;
    font-size: 10px;
}

.nav-evento{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}
.nav-evento h1{
        margin: 0px 10px;
}
.nav-evento button{
    background: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
    width: auto;
    height: auto;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dato-evento{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: auto;
    height: auto;
}